<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }
    iframe{width : 300;height: 400;}

</style>
</head>


<body>
       <form method="POST">
        <label>Enter a country name</label><br><br>
        <input placeholder="Country name"name="text">
        <input type="submit"><br><br>
        <iframe width = "300" height = "300" src="{{ image }}"></iframe>
        <p>This website has {{count}} visitors </p>

    </form>
</body>
</html>
